{% extends '../vista_principal.html' %}
{% block titulo %}
Pagos de Agua
{% endblock titulo %}

{% block body %}
<div style="margin-bottom: 10px;">
    <a class="btn btn-primary" type="button" href="{% url 'vista_crearPago' %}">
        <i class="fa fa-plus"></i> Nuevo Pago
    </a>
</div>

{% if pagos  %}
    <div class="card-header text-center bg-secondary text-white text-uppercase">
        <i class="fa fa-file-text-o"></i> <strong>Listado de Pagos de Agua</strong>
    </div>
    <br>
    <div class="table-stats order-table ov-h bg-light">
        <table class="table display" id='table_id'>
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Tesorero</th>
                    <th>Mes desde</th>
                    <th>Mes hasta</th>
                    <th>Costo Servicio</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for p in pagos %}
                <tr class="bg-light">
                    <td>{{p.usuario.nombres}} {{p.usuario.apellidos}}</td>
                    <td>{{p.tesorero.nombres}} {{p.tesorero.apellidos}}</td>
                    <td>{{p.mesDesde}}</td>
                    <td>{{p.mesHasta}}</td>
                    <td>{{p.costoServicio}}</td>
                    <td>
                        <a class="btn btn-success" href="{% url 'recibo' p.idPago %}">
                            <i class="fa fa-file-pdf-o"></i> Generar Recibo
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <h4 class="p-2 text-sm-center">No existen Pagos de Agua registrados.</h4>
{% endif %}

{% endblock body %}

{% block extrajs %}

<script type="text/javascript">
    var $ = jQuery.noConflict();
    $(document).ready( function () {
        $('#table_id').DataTable({
            "aLengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
            "language": {
                "url": "//cdn.databases.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
                "lengthMenu": "Mostrar _MENU_ ",
                "zeroRecords": "Registro no encontrado",
                "info": "Mostrando _END_ de _TOTAL_ registros.",
                "infoEmpty": "No hay registros disponibles",
                "infoFiltered": "(filtrando de _MAX_ registros totales)",
                "pagingType": "full_numbers",
                "search": "Buscar: ",
                "responsive": true,
            }
        });
    });
</script>

{% endblock extrajs %}